NEXT_PUBLIC_FIREBASE_API_KEY = "Your Firebase API Key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "Your Firebase Auth Domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "Your Firebase Project ID"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "Your Firebase Storage Bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "Your Firebase Messaging Sender ID"
NEXT_PUBLIC_FIREBASE_APP_ID = "Your Firebase App ID"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "Your Firebase Measurement ID"

NEXT_PUBLIC_READ_API_SERVER_BASE_URL = "http://localhost:18082/graphql" # 本番環境では EC2 にデプロイした API サーバーの URL に変更する
NEXT_PUBLIC_WRITE_API_SERVER_BASE_URL = "http://localhost:18081" # 本番環境では Lambda のエンドポイント URL に変更する

NEXT_PUBLIC_AWS_REGION = "Your AWS Region"
NEXT_PUBLIC_S3_BUCKET_NAME = "Your S3 Bucket Name"
NEXT_PUBLIC_AWS_IDENTITY_POOL_ID = "Your AWS Identity Pool ID" # S3 にアクセスするための認証情報を提供するための ID
