.main_contents {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  text-align: center;
}

.main {
  font-size: 1.5em;
  margin-right: 30px;
  margin-left: 70px;
  justify-content: right;
}

.select {
  display: flex;
  margin: 10px;
}

.name {
  font-size: 2.5em;
}

.profile {
  font-size: var(--fontsize-large);
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}

.button {
  padding: 8px;
  background-color: #4caf50;
  color: var(--color-black);
  border: none;
  cursor: pointer;
  border-radius: 8rem; /* 丸みを帯びた形に調整 */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* ホバーエフェクトをスムーズにする */

  background-color: #4caf50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9); /* ホバーエフェクト時の影 */
}

.asterisk {
  color: var(--color-red);
}

.profile_contents_wrapper {
  display: flex;
}

.profile_contents_wrapper .content_title {
  width: 7rem;
  min-width: 7rem;
}

.profile_contents_wrapper .colon {
  margin: 0 0.5rem;
}

.profile_contents_wrapper .contents {
  overflow-wrap: anywhere;
}
