.regions {
    font-size: var(--fontsize-x-large);
    width: calc(100% /3);
}

.theme {
    font-size: var(--fontsize-x-large);
    width: calc(100% /3);
}

.condition {
    font-size: var(--fontsize-x-large);
    width: calc(100% /3);
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
