.user_icon {
  border-radius: 50%;
  position: relative;
  left: 10%;
  top: 45px;
}

.groupname {
  position: relative;
  left: 22%;
  top: -65px;
  font-size: xx-large;
}

.review {
  position: relative;
  left: 59%;
  bottom: 300px;
  font-size: 40px;
  color: rgba(255, 222, 10, 0.959);
}

.edit {
  position: relative;
  left: 64%;
  bottom: 182px;
  font-size: x-large;
  width: 30%;
  height: 50%;
}

.name {
  position: relative;
  left: 22%;
  bottom: 30px;
  font-size: xx-large;
}

.main {
  position: relative;
  bottom: 20px;
  font-size: x-large;
}

.address {
  position: relative;
  left: 22%;
  bottom: 12px;
  font-size: x-large;
}

.phone {
  position: relative;
  left: 22%;
  bottom: 15px;
  font-size: x-large;
}

.profile {
  position: relative;
  left: 10%;
  font-size: xx-large;
  bottom: 100px;
}

.set {
  width: 4rem;
}
