.participant {
  background-color: var(--color-participant);
}

.group {
  background-color: var(--color-group);
}

.group a {
  color: var(--color-white);
}

.group a:hover {
  color: var(--color-white);
}
