.h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.name,
.furigana,
.address,
.phone,
.contents {
  display: flex;
  flex-direction: row;
  width: 12rem;
  letter-spacing: auto;
  text-align: left;
}

.label {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main_contents {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fontsize-large);
}

.input {
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 4px solid #ccc;
  border-radius: 10px;
}

.textarea {
  height: 0.5rem;
  border: 4px solid #ccc;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  resize: none;
}

.button {
  width: 100%;
}

.colon {
  margin: 0 1rem;
}
