/* index.module.css */

.sign_in_modal {
  width: 80%;
  max-width: 640px;
  height: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-gray);
  border-radius: 8px;
  background-color: var(--color-white);
}

.modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.google_auth_logo_container {
  display: flex;
  width: 100%;
  max-width: 640px;
  height: 20%;
  align-items: center;
  position: relative;
  margin: 32px 0;
  cursor: pointer;
}

.google_auth_logo {
  cursor: pointer;
  margin-bottom: 20px;
}

.checkbox_container {
  text-align: center;
  margin-top: 20px;
}

.close_sign_in_modal_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: 2px solid #f00;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.close_sign_in_modal_button::before,
.close_sign_in_modal_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 18px;
  background: #f00;
}

.close_sign_in_modal_button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_sign_in_modal_button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* index.module.css */
