.sign_in_modal {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #4285f4;
  border-radius: 8px;
}

.google_auth_logo {
  object-fit: contain;
  position: relative !important;
  width: 480px !important;
  max-width: 50% !important;
  height: fit-content !important;
  cursor: pointer;
}

/* 追加：閉じるボタンのスタイル（疑似要素を使用し、赤色に設定） */
.close_sign_in_modal_button {
  position: relative;
  float: right;
  margin: 8px;
  width: 32px;
  height: 32px;
  border: 2px solid #f00; /* 枠の調整 */
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
  cursor: pointer;
}

.close_sign_in_modal_button::before,
.close_sign_in_modal_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 18px; /* 棒の高さ（長さ） */
  background: #f00; /* バツ印の色 */
}

.close_sign_in_modal_button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_sign_in_modal_button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
