.h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.main {
  font-size: 1.5em;
  margin-right: 30px;
  margin-left: 70px;
  justify-content: right;
}

.button {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.select {
  display: flex;
  margin: 10px;
}

/* TODO */
/* TODO */
.toggle {
  margin: auto 0 auto auto;
}
