.base {
  user-select: none;
  cursor: pointer;
}

.base svg {
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  vertical-align: sub;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
