.user_icon {
  border-radius: 50%;
  position: relative; left: 7%;
}

.main_contents {
  margin-top: 3%;
}

.name {
  position: relative;
  left: 18%;
  bottom:  120px;
  font-size:xx-large;
}

.review {
  position: relative;
  left: 50%;
  bottom: 400px;
  font-size: 40px;
  color: rgba(255, 222, 10, 0.959);
}

.edit {
  position: relative;
  left: 60%;
  bottom: 230px;
  font-size: x-large;
  width: 30%;
  height: 50%;
}

.main {
  position: relative;
  left: 18%;
  bottom: 100px;
  font-size: x-large;
}

.profile {
  position: relative;
  left: 7%;
  font-size: xx-large;
  bottom: 200px;
}
