.h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.main_contents {
  margin: 0 auto;
  width: 500%;
  max-width: 720px;
  margin-bottom: 70px;
  text-align: center;
}

.main_contents p {
  font-size: var(--fontsize-large);
}

.furigana,
.address,
.phone {
  letter-spacing: auto;
  margin: 0 auto;
}
